.markdown {
    /* // some root styles here */
    overflow-y: auto;
    height:100%;
  }
  
  .markdown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
  }
  
  .markdown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
  }
   .markdown p { 
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 400; 
    white-space: pre-wrap;
  }
  /* // your other styles but all under .reactMarkDown blocks */

  .markdown h1{
    font-size: clamp(30px, 3vw, 60px);
    font-weight: bold;
  }

