/* components/RainbowButton.module.css */
/* .rainbowButton {
    display: inline-block;
    padding: 0.5vw 1vw;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  }
  
  .rainbowButton:hover {
    background-size: 200% auto;
    animation: rainbowAnimation 1.5s infinite alternate;
  }
  
  @keyframes rainbowAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  } */

.button{
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  color: white;
  padding: 0.5vw 0.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 1vw;
  transition: background-color 0.3s;
  font-family: 'Times New Roman', Times, serif;

  &:hover {
    background-color: rgba(128, 128, 128, 0.8);
  }
}

/*Home, Background table of contents, chapters*/