.relative{
    position: relative;
}
.welcomecolor{
    background: linear-gradient(30deg, #69ebf1, #dff6f7, #77e6f3); /* 渐变背景 */
    background-clip: text; /* 使用背景裁剪文本 */
    -webkit-text-fill-color: transparent; /* 使文本颜色透明，以显示背景渐变 */
    font-weight: bold;
}
.intro{
    color:white;
    font-weight: bold;
}
.journey{
    font-size: 3vw;
    color:#17efb6;
    font-weight: bold;
}
.intro span{
    background: linear-gradient(45deg, red 0%, gold 50%, red 100%); /* 渐变背景 */
    background-clip: text; /* 使用背景裁剪文本 */
    -webkit-text-fill-color: transparent; /* 使文本颜色透明，以显示背景渐变 */
    font-weight: bold;
    font-size: 3vw;
}
.glassblock{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    height:20vw;
    display: flex;
    animation: rotateAnimation1 10s linear infinite;
}
.diamond{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 12vw;
    height:12vw;
    display: flex;
    animation: rotateAnimation2 5s linear infinite;
}
@keyframes rotateAnimation1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes rotateAnimation2 {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}