.background{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 3px white;
}
.table{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-style: italic;
}
.button{
    align-content: center;
}